@mixin clearfix {
    &::after{
        content: "";
        clear: both;
        display: table;
    }
}

@mixin absolute-plain($position: absolute) {
    position: $position;
    top: 0;
    left: 0;
}

@mixin absolute-center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}